<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hata.travelapp.test">

    <!--
    This manifest is merged with the test APK only.
    The package attribute is explicitly defined here as a final measure
    to resolve persistent process resolution errors in the test environment.
    -->
    <application>
        <activity
            android:name="com.hata.travelapp.HiltTestActivity"
            android:exported="true" />
    </application>

</manifest>
